<h1>What We're All About:</h1>

Blewprint aims to provide a visual illustration of the creative ideas and visions that you have for your new space. The process of selecting from long lists of different color shades, textures, furniture, ways of storage space (and etc.) can be overwhelming. With our partnerships with Pinterest and other crafts-oriented sites, we hope to bring to you fresh ideas that can assist you in creating, developing, sharing and managing the projects you choose to take on--making your designing and remodeling process that much smoother. 

<h1>Why The Architecture/Design of Your Space Matters:</h1>

Research has shown that...
