<div class="jumbotron">
    <center>
  <h1>Blewprint</h1>
  <p>Browse, create, visualize, and share your new space.</p>

  <div class="form-group">
    <div class="col-sm-offset-0 col-sm-12">
       <a href="/users/sign_in" class="btn btn-primary btn-lg active" role="button">Sign In</a>
       <a class="btn btn-danger btn-lg" role="button" href="/about">Learn More</a>

  </div>
</center>
</div>


