<div class="jumbotron">
    <center>
  <h1>Blewprint</h1>
  <p>Browse, create, visualize, and share your new space.</p>

  <div class="form-group">
    <div class="col-sm-offset-0 col-sm-12">
       <a href="/users/sign_in" class="btn btn-primary btn-lg active" role="button">Sign In</a>
       <a class="btn btn-danger btn-lg" role="button" href="/about">Learn More</a>

  </div>
</center>
</div>


<style media="screen" type="text/css">
body
{
background-image:url('http://www.minqandmode.com.au/wp-content/uploads/2012/06/grey-and-white-chevron1.jpg');
}
.jumbotron{
   position:fixed;
   top:30%;
   left:30%;
   width:600px;
}
</style>