<style media="screen" type="text/css">
body
{
background-image:url('http://www.minqandmode.com.au/wp-content/uploads/2012/06/grey-and-white-chevron1.jpg');
background-color:#ffffff;
}
</style>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Blewprint</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
         <ul class="nav navbar-nav">
          <li class="active">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li> 


          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#" title="Click below on Stage One! :)">Start One!</a></li>
            <li><a href="/Stage_One">Stage 1: Show Us Your Space</a></li>
            <li><a href="/Stage_Two">Stage 2: Unleash Your Creativity</a></li>
            <li><a href="/Stage_Three">Stage 3: Find Your Supplies</a></li>
            <li class="divider"></li>
            <li><a href="/Share">Share your Progress</a></li>
          </ul>
        </li>
    </ul>

        <li><a href="/research">Why Interior Design Matters</a></li> 
      <% if user_signed_in? %>
        <li><%= link_to "Account Settings", edit_user_registration_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %> 
    </ul>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!-- /container -->




<div class="jumbotron">
<p>This stage will be not a part of the MVP, rather it'll be a feature added in versions following 1.0. This stage is meant to locate and find the items and tools you need for your projects! </p>
</div>