<form class="anns" action="upload_file.php" method="post"
enctype="multipart/form-data"> 

<div class="jumbotron" style="width:500px">

<font color="#f0ad4e"><h2>Upload Your Space:</h2></font>
<font color="#oooooo">
<input type ="file" name="file" id="file"><br>
<input type="submit" name="submit" value="Submit">
<br>
<br>
<a href="/Stage_One"><u>Go Back</u></a>
</font>
  </div>
</form>

<style media="screen" type="text/css">
body {background-color:#428bca;}
</style>

