// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$jumbotron-color:#428bca;
$jumbotron-bg: white;
$jumbotron-heading-color: #f0ad4e;
$jumbotron-padding: 30px;

$navbar-default-bg:#f0ad4e;
$navbar-default-link-color: white;
  
 @import 'bootstrap';